{% extends 'base.html.twig' %}

{% block title %}Hello {{ title }}!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>{{ title }}</h1>

    <form method="post" accept-charset="UTF-8">        
        <label for="upload_file">Selecione um arquivo:</label>
        <input type="text">
        <p><button type="submit">Process</button></p>
    </form>
</div>
{% endblock %}
